.entry-content pre,
.comment-content pre {
  border: 1px solid #ededed;
  color: #666;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 1.714285714;
  margin: 24px 0;
  margin: 1.714285714rem 0;
  overflow: auto;
  padding: 0px;
  padding: 0rem 0;
}
pre {
  background: #f0f3f3;
  display: block;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: baseline;
}

.entry-content code,
.comment-content code {
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
}

.entry-content pre code,
.comment-content pre code {
  display: block;

}
code {
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}